img{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50px;
}

.nome{
    font-size: 20px;
    display: block;
    font-weight: 700;
}

.partido{
    display: block;
    font-size: 17px;
    color: brown;
}