@use '../1-base/variables'
@import '../3-functions/mixin'

.top-container
    display: block

    .top-bg
        padding-top: 80px
        
        figure
            position: relative
        img
            width: 100%

    .text-box
        margin: 0 auto
        left: 0
        right: 0
        bottom:0 
        margin-top: -120px

        @include tablet
            margin-top: -80px

        @include mobile
            margin: -40px
            width: 100%
            margin: 0 auto



        h1
            text-align: center
            display: block
            position: relative

            &::after
                content: ' '
                width: 80px
                background-color: variables.$white
                height: 4px
                display: block
                border-radius: 5px
                margin: 0 auto
                margin-top: 20px

        p
            font-size: 16px
            font-weight: 400
            color: variables.$white
            display: block
            width: 440px
            margin: 0 auto
            text-align: center
            margin-top: 30px
            
            @include tablet
                width: 100%